
body {
    font-family: Castoro;
}

.container {
    width: 100%;
}

h1 {
    color: #000;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 15.36px;
}

h2 {
    color: #000;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
    letter-spacing: 15.36px;
}

h3 {
    color: #AE0000;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    border-bottom: 3px solid #AE0000;
}

h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

h5 {
    color: #949494;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

p {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    width: 636px;
}

.title {
    margin: 160px auto auto 312px;
}

.img {
    width: 636px;
    margin: 0 auto;
    vertical-align: middle;

}

.subtitle {
    width: 622px;
    margin: 0 326px 0 auto;
}

.content ul {
    width: 636px;
    margin: 0 auto 0 312px;
    list-style-type: none;
}

.rectangle {
    background: #EFEFEF;
    padding: 48px 312px;

    justify-content: flex-end;
}

.bottomRectangle {
    padding: 64px;
    background: #000;
    display: flex;
    justify-content: center;
}

.bottomRectangle ul li {
    display: inline;
    margin: 0 20px;
}

.img {
    vertical-align: middle;
}