
body {
    font-family: Castoro;
    font-style: normal;
    line-height: 1.5;
}

.container {
    padding: 160px 312px;
}
.header{
    padding-bottom: 0;
}
.content{
    padding-top:0; 

}

.center {
    background: #EFEFEF;
    padding: 48px 312px;
    display: flex;
    justify-content: flex-end;
}
h1 {
    color: #000;
    font-size: 128px;
    font-weight: 400;
    letter-spacing: 15.36px;
}
.vito{
    margin: 0 auto;
    width: 636px;
}

h2 {
    color: #000;
    font-size: 128px;
    font-weight: 400;
    letter-spacing: 15.36px;
}

h3 {
    color: #AE0000;
    font-size: 40px;
    font-weight: 400;
    border-bottom: 3px solid #AE0000;
}

h4 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

h5 {
    color: #949494;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

p {
    color: #000;
    font-size: 32px;
    font-weight: 400;
    width: 636px;
}


.subtitle {
    text-align: right;
}

.content ul {
    list-style-type: none;
}


.footer {
    padding: 64px;
    background: #000;
    display: flex;
    justify-content: center;
}

.footer ul li {
    display: inline;
    margin: 0 20px;
}

