body {
    font-family: Bruno Ace SC;
    background: #000;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

header {
    padding: 40px 312px 0;
}

header ul {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 61px;
}

header ul li {
    color: #D1D1D1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 24px */
    max-width: 306px;
}

.area1 {
    display: flex;
}

.area1 img {
    margin: 72px 24px 72px 312px;
    max-width: 636px;
    max-height: 848px;
}

.title {
    max-width: 636px;
    margin: 232px 312px 232px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2 {
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 96px */
}

h1 {
    color: #00FFA3;
    text-align: right;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 192px */
}

.h3 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.contactMeContainer {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

.contactMe {
    display: flex;
    padding: 12px 24px;
    gap: 4px;
    border-radius: 32px;
    background: #FFF;
    justify-content: center;
    align-items: center;
}
.contactMe img{
    max-width: 24px;
    margin: 0;
}

.area2 {
    background: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week2/background-img.png?raw=true");
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 160px 320px;
}

h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}

.introduction {
    width: 536px;
}

.introduction h4 {
    margin: 36px 0 32px 0;
}

.introduction ul {
    display: inline-flex;
}

.introduction img {
    height: 98px;
}

.area3 {
    background: #E3E3E3;
    display: flex;
    padding: 160px 312px;

}

.item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 24px;
}

.item div {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    border: 1px solid #E3E3E3;
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.08);
    height: 100px;

}

.h5 {
    color: #15161D;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

.area3 h2 {
    color: #000;
}

.area3 h4 {
    color: #000;
    width: 505px;
}

.item h5 {
    width: 274px;
}

.about {
    margin: 0 0 0 134px;
    width: 526px;
}

.area4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 312px;

}

.social {
    display: flex;
    gap: 20px;
    margin: 0 112px;
}

.social div:hover {
    box-shadow: 0 0 16px 3px rgba(144, 148, 255, 0.90), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.social div {
    border-radius: 40px;
}

.social img {
    width: 162px;
    height: 162px;
}

.area5 {
    background: #FFFFFF;
    padding: 160px 312px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.area5 h2 {
    color: #000000;
    width: 746px;
}

.area5 h3 {
    color: #000000;
}

.proj-introduce {
    display: flex;
    width: 865px;
    gap: 24px;

    margin: 0 0 24px 0;
}

.area5 .contactMe {
    background: #000000;
}

.area5 .contactMe h3 {
    color: #FFFFFF;
}

.proj-contain {
    display: flex;
    gap: 24px;
}

.proj-introduce-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.area5 .contactMeContainer {
    display: flex;
    justify-content: flex-start;
}

.pic {
    display: flex;
    gap: 24px;
}

footer {
    padding: 40px;
    display: flex;
    justify-content: center;
}

footer h3 {
    color: #FFFFFF;

}